.section-contact {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
    }

    .section-header {
        margin-bottom: 50px;
        padding-bottom: 25px;
        border-bottom: 1px solid currentColor;
        @include media-breakpoint-up(lg) {
            margin-bottom: 60px;
            padding-bottom: 45px;
        }
    }
}

.contact-block {
    margin-bottom: 40px;
    @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
    } 
}

.contact-list {
    margin-bottom: 45px;
    @include media-breakpoint-up(lg) {
        margin-bottom: 35px;
    }

    > li:not(:last-child) {
        margin-bottom: 10px;
    }
}

.contact-cta {
    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 75px;
    }
}

#contact-map {
    height: 500px;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    background: #eee;
    @include media-breakpoint-down(sm) {
        margin-top: 40px;
    }
}