.header-box {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
    background: $white;
    transition: padding 300ms ease;
    font-size: 18px;
    @include media-breakpoint-up(lg) {
        padding-top: 30px;
        padding-bottom: 30px;
        border-color: currentColor;
    }
    @include media-breakpoint-up(xxl) {
        padding-top: 60px;
        padding-bottom: 45px;
    }

    &.is-scrolled {
        padding-top: 10px;
        padding-bottom: 10px;
        border-color: currentColor;
        @include media-breakpoint-up(lg) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

@import 'header-burger';
@import 'header-logo';
@import 'header-nav';
@import 'header-application';
@import 'header-contact';
