.pagination {
    margin: 40px -5px 0;
    padding: 20px 0 0;
    border-top: 1px solid currentColor;
    border-radius: 0;
    font-size: 18px;
}

.page-link {
    padding: 5px 6px;
    border: none;
    border-radius: 0 !important;
    color: $default-100;
    line-height: normal;

    &:hover {
        background: none;
        color: $default-100;
    }

    &:focus {
        box-shadow: none;
    }

    .page-item.active & {
        background: none;
        color: $default;
    }
}